<div class= "rounded flex article relative <%= "#{@inverse_flex}" %>" >
  <div class = "img-container">
    <img class = "img absolute <%= "#{@end}" %>" src="<%= article.image %>" alt="">
  </div>
  <div class = "text-container">
    <p class = "p-left-10 p-top-10"><%= @category.name %></p>
    <p><%= article.title %></p>
    <p><%= show_upvote(article) %></p>
  </div>
</div>