<div class="flex column align-center full-height bg-color-primary color-white rounded">
  <p class= "extra-bold big m-top-80">Sign Up</p>
  <div class = "m-top-20">
    <%= form_for @user, url: users_path do |form| %>
      <div class = "flex column align-center">
        <div class = "flex">
          <%= form.label :name, "Username"%>
          <%= form.text_field :name, placeholder: "Enter your name"%>
        </div>
        <div class = "m-top-10"><%= form.submit "Sign Up" %></div>
      </div>
    <% end %>
  </div>
  <p class = "m-top-10 bold"><%= link_to "Already have an account?", '/sessions' %></p>
</div>