<!DOCTYPE html>
<html>
  <head>
    <title>Enigma</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/65e5819ba9.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'reset'%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <head>
      <%= render "layouts/nav" %>
    </head>
    <main>
      <%= yield %>
    </main>
    <footer class = "flex space-between footer bg-color-primary">
      <%= render "layouts/footer"%>
    </footer>
  </body>
</html>
